<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../VA.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            margin: 0;
            font-family: "Rubik", sans-serif;
            background-color: #dddddd;
        }

        .sidebar {
            position: fixed;
            width: 250px;
            top: 0px;
            left: 0;
            bottom: 0;
            background: #111;
            padding-top: 20px;
            overflow-y: auto;
        }

        .sidebar h1 {
            display: block;
            padding: 10px 20px;
            color: #fff;
            text-decoration: none;
            letter-spacing: 2px;
            font-weight: 400;
            margin: 0;
            font-size: 25px;
            text-transform: uppercase;
        }

        .sidebar a {
            display: block;
            padding: 25px 20px;
            color: #bbb;
            text-decoration: none;
            letter-spacing: 2px;
            transition: margin-left 0.4s;
        }

        .sidebar a:hover {
            color: #fff;
            margin-left: 20px;
        }
    </style>
</head>

<body>
    <div class="sidebar">
        <h1>Welcome!</h1>
        <a href="home_page_auth">Home</a>
        <a href="user_home_page">My profile</a>
        <a href="user_order">My subscriptions</a>
        <a href="user_appointment">My appointments</a>
        <a href="user_changepsw">Change password</a>
        <a href="user_delete">Delete account</a>
        <a href="#exampleModal" data-bs-target="#exampleModal" data-bs-toggle="modal">Log out</a>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Logout Confirmation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to log out?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a type="button" class="btn btn-warning" href="user_home_page/logout">Log out</a>
                </div>
            </div>
        </div>
    </div>

    <div class="tab0">
    </div>

    <div class="tab1">
        <div class="tab1-item active" onclick="switchTab('current')">
            My Current Appointment
        </div>
        <div class="tab1-item" onclick="switchTab('history')">
            Appointment History
        </div>
    </div>

    <div class="another-page active" id="current-page">

        <div class="list">
        </div>

    </div>

    <div class="another-page" id="history-page">
        <div class="list">
        </div>

    </div>

    <div id="myModal1" class="modal1">
        <div class="modal-content1">
            <p>Are you sure you want to cancel this appointment? </p>
            <p>(Once the operation is executed, it cannot be undone)</p>
            <button class="yes-btn">Yes</button>
            <button class="no-btn" onclick="closeModal1()">No</button>
        </div>
    </div>


    <div id="myModal11" class="modal11">
        <div class="modal-content11">
            <p>You have cancelled the appointment successfully. </p>
            <button class="close-btn" onclick="closeModal11()">Close</button>
        </div>
    </div>

    <div id="myModal2" class="modal2">
        <div class="modal-content2">
        </div>
    </div>
    <div id="myModal21" class="modal21">
        <div class="modal-content21">
            <p>You have modified the appointment successuflly!</p>
            <button class="ok-btn" onclick="closeModal21()">OK</button>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        window.onload = function () {
            fetchAppointments();
            fetchAppointments1();
        };

        function fetchAppointments() {
            fetch('/myCurrentApppointments')
                .then(response => response.json())
                .then(data => {
                    const listContainer = document.getElementById("current-page").querySelector(".list");
                    listContainer.innerHTML = "";

                    data.forEach(appointment => {
                        const listItem = document.createElement("div");
                        listItem.className = "list-item";

                        listItem.innerHTML = `
                    <img src="${appointment.image_url}" />
                    <div class="list-item-title">
                        ${appointment.courseName}
                    </div>
                    <div class="list-item-info">
                        <div class="list-item-time">
                            <span> Schedule Time: </span>
                            <span>${appointment.date}, ${appointment.time}</span>
                        </div>
                        <div>
                            <span class="list-item-price">Upcoming Courses</span>
                        </div>
                    </div>
                    <div class="list-item-right">
                        <div class="list-item-btn" onclick="openModal1(${appointment.id})">Cancel</div>
                    </div>
                    <div class="list-item-right1">
                        <div class="list-item-btn1" onclick="openModal2(${appointment.id})">Modify</div>
                    </div>
                `;

                        listContainer.appendChild(listItem);
                    });
                })

        }
        function fetchAppointments1() {
            fetch('/appointmentHistory')
                .then(response => response.json())
                .then(data => {
                    const listContainer = document.getElementById("history-page").querySelector(".list");
                    listContainer.innerHTML = "";

                    data.forEach(appointment => {
                        const listItem = document.createElement("div");
                        listItem.className = "list-item";

                        listItem.innerHTML = `
                    <img src="${appointment.image_url}" />
                    <div class="list-item-title">
                        ${appointment.courseName}
                    </div>
                    <div class="list-item-info">
                        <div class="list-item-time">
                            <span> Schedule Time: </span>
                            <span>${appointment.date}, ${appointment.time}</span>
                        </div>
                        <div>
                            <span class="list-item-price">Upcoming Courses</span>
                        </div>
                    </div>
                `;

                        listContainer.appendChild(listItem);
                    });
                })
        }



        var tab1 = document.querySelector('.tab1');
        tab1.querySelectorAll('.tab1-item').forEach(function (item, index) {
            item.addEventListener('click', function () {
                tab1.querySelectorAll('.tab1-item').forEach(function (item) {
                    item.classList.remove('active')
                })
                this.classList.add('active')
            })
        })


        function switchTab(tabName) {
            document.querySelectorAll('.another-page').forEach(function (page) {
                page.classList.remove('active');
            });

            document.getElementById(tabName + '-page').classList.add('active');
        }


        function openModal1(id) {
            var modal = document.getElementById("myModal1");
            var yesButton = modal.querySelector(".yes-btn");
            yesButton.onclick = function () {
                openModalCombine(id);
            };
            modal.style.display = "block";
        }
        function closeModal1() {
            var modal = document.getElementById("myModal1");
            modal.style.display = "none";
        }

        function openModal11() {
            var modal = document.getElementById("myModal11");
            modal.style.display = "block";
        }

        function closeModal11() {
            var modal = document.getElementById("myModal11");
            modal.style.display = "none";
            window.location.href = '/user_appointment';
        }

        function openModalCombine(id) {
            deleteAppointment(id);
            closeModal1();
            openModal11();
        }

        function deleteAppointment(id) {
            fetch('/deleteAppointment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    appointmentId: id,
                })
            })
        }


        function openModal2(id) {
            fetch('/myCurrentAppointments/' + id)
                .then(response => response.json())
                .then(appointment => {
                    const modalContent = document.getElementById("myModal2").querySelector(".modal-content2");

                    modalContent.innerHTML = `
                        
            <span class="course-label1">Your course is:</span> <span class="course-label2">${appointment.courseName}</span>
            
            <br>
            <span class="time-label1">The current schedule time is:</span> <span class="time-label2">${appointment.date},
                ${appointment.time}</span>
            <p>If you would like to change your appointment time, please select your desired time below.</p>


            <div class="flex-container">
                <div>
                    <label>Choose a Date:</label>
                    <select id="dateSelect">

                    </select>
                </div>

                <div>
                    <label>Choose a time:</label>
                    <select id="timeSelect">
                        <option value="9:00">9:00 AM</option>
                        <option value="10:00">10:00 AM</option>
                        <option value="11:00">11:00 AM</option>
                        <option value="12:00">12:00 PM</option>
                        <option value="13:00">1:00 PM</option>
                        <option value="14:00">2:00 PM</option>
                        <option value="15:00">3:00 PM</option>
                        <option value="16:00">4:00 PM</option>
                        <option value="17:00">5:00 PM</option>
                        <option value="18:00">6:00 PM</option>
                        <option value="19:00">7:00 PM</option>
                        <option value="20:00">8:00 PM</option>
                    </select>
                </div>
            </div>

            <br>
            <button class="confirm-btn" onclick="openModalCombine1(${appointment.id}, document.getElementById('dateSelect').value, document.getElementById('timeSelect').value)">Confirm</button>
            <button class="close-btn" onclick="closeModal2()">Close</button>
     
                `;
                    dateSelect();
                }


                );

            var modal = document.getElementById("myModal2");
            modal.style.display = "block";

        }
        function dateSelect() {
            var dateSelect = document.getElementById("dateSelect");
            var currentDate = new Date();


            dateSelect.innerHTML = "";


            for (var i = 0; i < 7; i++) {
                var date = new Date(currentDate);
                date.setDate(currentDate.getDate() + i);
                var formattedDate = date.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });
                var option = document.createElement("option");
                option.value = formattedDate;
                option.textContent = formattedDate;
                dateSelect.appendChild(option);
            }
        }


        function closeModal2() {
            var modal = document.getElementById("myModal2");
            modal.style.display = "none";
        }


        function openModal21(listIndex) {
            var modal = document.getElementById("myModal21");
            modal.style.display = "block";
        }


        function closeModal21() {
            var modal = document.getElementById("myModal21");
            modal.style.display = "none";
            window.location.href = '/user_appointment';
        }



        function openModalCombine1(id, date, time) {
            closeModal2();
            openModal21();
            console.log(123);
            fetch('/updateMyCurrentAppointment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    appointmentId: id,
                    appointmentDate: date,
                    appointmentTime: time
                })
            })
        }




    </script>
</body>

</html>