HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### 123 ###
ersDELLDesktopCPT202codefitness4life'; & 'CProgram FilesJavajdk-17binjava.exe' '@CUsersDELLAppDataLocalTempcp_9t9nq8sm5n42ot8tlhzowug4o.argfile' 'com.cpt202.FitnessTrainerAppointmentSystem.Application' 